#define IDD_DLG_MAIN 1000
#ifndef IDC_STATIC
  #define IDC_STATIC -1
#endif
#define IDC_EDT_DIR 1005
#define IDC_BTN_DIR 1006
#define IDC_CHK_VER 1008
#define IDC_EDT_VER 1009
#define IDC_CHK_32 1007
#define IDC_CHK_SKIP_DOWNLOAD 1011
#define IDC_CHK_KEEP_SCRIPTS 1001
#define IDC_CHK_KEEP_DIST_INFO 1002
#define IDC_CHK_KEEP_PIP 1003
#define IDC_CBO_MIRROR 1012
#define IDC_EDT_PACKAGES 1013
#define IDC_BTN_START 1004
#define IDC_LNK1 1010
#define IDD_DLG_DOWNLOAD 1100
#define IDC_STC_STATUS 1103
#define IDC_PGB1 1104
#define IDC_EDT_LOG 1101
#define IDC_BTN_EXIT 1102

101 ICON "app.ico"

1 24 "app.manifest"

IDD_DLG_MAIN DIALOGEX 10,10,258,249
CAPTION "pyembed_downloader"
FONT 8,"MS Shell Dlg",0,0,0
STYLE 0x10CA0848
EXSTYLE 0x00040000
BEGIN
  CONTROL "安装目录：",IDC_STATIC,"Static",0x50000000,9,9,42,9
  CONTROL "",IDC_EDT_DIR,"Edit",0x50010000,51,6,168,15,0x00000200
  CONTROL "...",IDC_BTN_DIR,"Button",0x50010000,225,6,21,15
  CONTROL "指定 Python 版本：",IDC_CHK_VER,"Button",0x50010003,9,30,78,9
  CONTROL "",IDC_EDT_VER,"Edit",0x50010000,93,27,66,15,0x00000200
  CONTROL "如 3.8.6，默认最新版",IDC_STATIC,"Static",0x50000000,168,30,81,9
  CONTROL "32 位版本",IDC_CHK_32,"Button",0x50010003,9,48,54,9
  CONTROL "跳过下载",IDC_CHK_SKIP_DOWNLOAD,"Button",0x50010003,93,48,54,9
  CONTROL "保留 Scripts 目录",IDC_CHK_KEEP_SCRIPTS,"Button",0x50010003,9,66,78,9
  CONTROL "保留 dist-info 目录",IDC_CHK_KEEP_DIST_INFO,"Button",0x50010003,93,66,78,9
  CONTROL "保留 pip",IDC_CHK_KEEP_PIP,"Button",0x50010003,186,66,45,9
  CONTROL "pip 镜像站：",IDC_STATIC,"Static",0x50000000,9,84,45,9
  CONTROL "",IDC_CBO_MIRROR,"ComboBox",0x50010002,57,81,189,51
  CONTROL "要安装的依赖包，空格分割 或 一行一个",IDC_STATIC,"Static",0x50000000,9,102,153,9
  CONTROL "",IDC_EDT_PACKAGES,"Edit",0x500110C4,9,117,237,72,0x00000200
  CONTROL "开始下载",IDC_BTN_START,"Button",0x5001000E,9,195,237,30
  CONTROL "<a href=""https://github.com/wzv5/pyembed_downloader"">https://github.com/wzv5/pyembed_downloader</a>",IDC_LNK1,"SysLink",0x50000001,9,231,171,12
END

IDD_DLG_DOWNLOAD DIALOGEX 10,10,357,249
CAPTION "pyembed_downloader"
FONT 8,"MS Shell Dlg",0,0,0
STYLE 0x10CA0848
EXSTYLE 0x00040000
BEGIN
  CONTROL "正在下载 ...",IDC_STC_STATUS,"Static",0x50000000,18,15,99,12
  CONTROL "",IDC_PGB1,"msctls_progress32",0x50000009,15,33,327,18
  CONTROL "",IDC_EDT_LOG,"Edit",0x50211044,15,60,327,147,0x00000200
  CONTROL "取消",IDC_BTN_EXIT,"Button",0x50010000,243,216,84,21
END

